<div class="row">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the data loader</h1>
    <p class="lead">Here you can start to load your CSV files of contacts</p>
    <hr class="my-4">
    <p>Please follow the following instructions</p>
    <p>1. Select a CSV file with some contacts to save</p>
    <p>2. The columns' names must be Name, Birth Date, Phone, Address, Card Number and Email, the order is not important</p>
    <p>Considerations</p>
    <p>- Phones with format (+00) 000 000 00 00 or (+00) 000-000-00-00</p>
    <p>- Birth date with format 19951231 or 1995-12-31</p>
    <p>- Credit cards only numbers without spaces</p>
    <p>3. Click on the button 'Upload file' to start loading the file</p>
    <p>4. Everything will be in background, so you have to wait and refresh the page to check the status of the job</p>
    <p>5. Enjoy</p>
    <p>Follow the link in the button to get started loading files</p>
    <p class="lead">
      <% if current_user.present? %>
        <%= link_to "Get started", imports_path, class: "btn btn-primary btn-lg", role: "button" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg", role: "button" %>
      <% end %>
    </p>
  </div>
</div>